* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
	background-color: grey;
	border:solid 1px black;
}


body {
	padding: 3%;

}

header,
footer {
	width:100%;
	height:100px;
}

header{
	margin-bottom:3%;
}

footer {
	clear:both;
}

section {
	width:72%;
	height:500px;
	float:left;
	margin-bottom: 3%;
	margin-right: 3%;
}

aside {
	width:25%;
	height:500px;
	float:right;
}